.jumbotron {
    background-image: url(https://media.giphy.com/media/o3kv8esoohmI8/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    padding: 30px;

}

.display-4 {
    margin-left: 30px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 90px;
    font-family: 'Muli', sans-serif;
}

.card {
    font-family: 'Muli', sans-serif;
}

.card-header {
    font-size: 25px;
    background-color: rgb(155, 138, 117);
}