.container{
    font-family: 'Muli', sans-serif;
}

.jumbotron {
    background-image: url(https://media.giphy.com/media/o3kv8esoohmI8/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    color: antiquewhite;
    padding: 30px;

}

.display-4 {
    margin-left: 30px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 90px;
    
}

.card-header {
    font-size: 25px;
    background-color: rgb(155, 138, 117);
}

/* On screens that are 320px or less */
@media only screen and (max-width: 320px) {

.container{
    padding: 0px;
    margin: 0px;
}
.jumbotron{
    padding: 0px;
    margin: 0px;
}
.display-4{
    margin: 0px;
    font-size: -webkit-xxx-large;
}

#schedule{
    padding: 0px;
    font-size: 9px;
}
.card-header {
    font-size: 15px;
  }
  .card-body{
    padding: 10px;
    font-size: 12px;
  }
}
